@charset "UTF-8";

/* src/css/header.css */
.header {
  padding: 8px 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--col-bg-dark);
  background-color: var(--col-bg-light);
  color: black;
}
.header nav {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 34px;
  flex-grow: 1;
  font-size: 1em;
  font-weight: 500;
  text-transform: uppercase;
  font-family: Sono;
}
.header nav a {
  padding: 2px;
}
.header .burger {
  width: 20px;
  height: 100%;
}
.header .burger:hover {
  cursor: pointer;
}
.header .icon {
  display: flex;
}
.header .icon:hover {
  background-color: inherit;
}
.header .icon > img {
  width: 18px;
  height: 100%;
  padding: 8px;
  border-radius: 100%;
  border: 2px dashed;
}

/* src/css/lead.css */
.lead {
  height: calc(100vh - 55px - 200px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(assets/studio\ 2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--col-bg-mid-1);
  border-bottom: 1px solid var(--col-bg-dark);
}
.lead .blurb {
  max-width: 500px;
  border: 1px solid var(--col-bg-dark);
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  background-color: var(--col-bg-light);
  color: black;
  box-shadow: 6px 6px var(--col-bg-mid-2);
  translate: -6px -6px;
}
.lead .blurb p {
  margin: 0;
  font-family: Arial;
  font-size: 2.1em;
}
.lead .menu {
  text-align: left;
  font-family: Sono;
  font-size: 1.5em;
  font-weight: 377;
}
.lead .button {
  height: 50px;
  font-size: 1.5em;
  border: 1px solid var(--col-theme-2);
}
.lead .button:hover {
  border: 1px solid black;
}
.lead img {
  width: 50px;
  position: absolute;
  bottom: 205px;
}

/* src/css/sections/features.css */
#features {
  background-color: var(--col-bg-light);
}
#features .list {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
#features .list > * {
  padding: 40px;
  display: flex;
  align-items: center;
  gap: 120px;
  box-shadow: 6px 6px var(--col-bg-mid-2);
  background-color: var(--col-bg-mid-1);
}
#features .list-text {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 420px;
}
#features h2 {
  margin: 0;
  font-family: Arial;
  font-size: 1.8em;
  font-weight: 344;
}
#features img {
  max-width: 500px;
  height: auto;
}
#features .controls {
  display: flex;
  align-items: center;
}
#features .button {
  margin-top: 2px;
  width: 100px;
  height: 20px;
}
#features .player {
  margin-left: 4px;
  width: 40px;
}

/* src/css/sections/music.css */
#music {
  background-color: var(--col-bg-mid-1);
}
#music .link {
  color: black;
}
#music .tracks {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
#music .tracks .button {
  align-self: end;
}
#music .tracks > * {
  flex-grow: 1;
  border: 1px solid white;
  padding: 20px;
  background-color: var(--col-bg-light);
  box-shadow: 6px 6px var(--col-bg-mid-2);
}
#music .tracks .player {
  margin-left: 4px;
}
#music .tracks a {
  padding: 2px;
}
#music .track {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
#music .player-container {
  flex-grow: 1;
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
#music img {
  width: 116px;
  height: 116px;
  border: 1px solid var(--col-bg-dark);
}

/* src/css/section.css */
section {
  padding: 100px 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: Sono;
  font-size: 1em;
  font-weight: 285;
}
@media only screen and (max-width: 1200px) {
  section {
    flex-direction: column;
  }
}
@media only screen and (max-width: 900px) {
  .tracks {
    flex-direction: column;
  }
}
section > div {
  flex-grow: 1;
}
section > .text {
  margin-bottom: 40px;
}
section > .text p {
  margin: 0;
  font-size: 1.2em;
  font-weight: 347;
  opacity: .7;
}
section h1 {
  margin: 0;
  margin-bottom: 10px;
  font-family: Arial;
  font-weight: 100;
  font-size: 2.5em;
}

/* src/css/essential_audio.css */
div.essential_audio {
  position: relative;
  z-index: 0;
  width: 100%;
}
div.essential_audio > div:nth-child(1) div {
  width: 28px;
  height: 28px;
  margin-top: -13px;
  background-color: white;
}
div.essential_audio > div:nth-child(1) div:after {
  position: absolute;
  top: 7%;
  left: 7%;
  width: 86%;
  height: 86%;
}
:root {
  --button-protrusion: 4px;
}
div.essential_audio > div:nth-child(1) div.off:after {
  content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><polygon fill='var(--bg-col-dark)' points='10,6.9 10,23.1 24,15' /></svg>");
}
div.essential_audio > div:nth-child(1) div.load:after {
  content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><circle opacity='0.64' fill='var(--bg-col-dark)' cx='6.5' cy='18.5' r='2'/><circle opacity='0.76' fill='var(--bg-col-dark)' cx='6.5' cy='11.5' r='2'/><circle opacity='0.88' fill='var(--bg-col-dark)' cx='11.5' cy='6.5' r='2'/><circle fill='var(--bg-col-dark)' cx='18.5' cy='6.5' r='2'/><circle opacity='0.16' fill='var(--bg-col-dark)' cx='23.5' cy='11.5' r='2'/><circle opacity='0.28' fill='var(--bg-col-dark)' cx='23.5' cy='18.5' r='2'/><circle opacity='0.4' fill='var(--bg-col-dark)' cx='18.5' cy='23.4' r='2'/><circle opacity='0.52' fill='var(--bg-col-dark)' cx='11.5' cy='23.4' r='2'/></svg>");
  animation: audio_load_rotate 1s infinite linear;
}
@keyframes audio_load_rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
div.essential_audio > div:nth-child(1) div.play {
  background-color: white !important;
}
div.essential_audio > div:nth-child(1) div.play:after {
  content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><rect fill='var(--bg-col-dark)' x='17' y='8' width='3' height='14' /><rect fill='var(--bg-col-dark)' x='10' y='8' width='3' height='14' /></svg>");
}
div.essential_audio > div:nth-child(1) div.drag {
  transition: left 0s !important;
}
div.essential_audio > div:nth-child(1) div.error {
  background-color: rgba(0, 0, 0, 0.35) !important;
}
div.essential_audio > div:nth-child(1) div.error:after {
  content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path fill='var(--bg-col-dark)' d='M13.9,18.6c0-0.3,0-0.5,0-0.9c0-1.6,0.6-2.9,2.1-3.9l1.1-0.8c0.9-0.6,1.3-1.5,1.3-2.4c0-1.5-1-2.8-3-2.8c-2.2,0-3.1,1.6-3.1,3.2c0,0.2,0,0.4,0,0.5L10,11.9c-0.1-0.3-0.1-0.8-0.1-1.2c0-2.3,1.7-5.1,5.5-5.1c3.5,0,5.5,2.5,5.5,5c0,2-1.1,3.4-2.5,4.3l-1.2,0.8c-0.8,0.5-1.1,1.4-1.1,2.4c0,0.1,0,0.2,0,0.5H13.9z'/><path fill='var(--bg-col-dark)' d='M15,20.8c1,0,1.8,0.8,1.8,1.8S16,24.4,15,24.4c-1,0-1.8-0.8-1.8-1.8S14,20.8,15,20.8z'/></svg>");
}
div.essential_audio > div:nth-child(2) {
  height: 1px;
}
div.essential_audio > div:nth-child(2):after {
  content: "";
  position: absolute;
  z-index: 0;
  background-color: var(--col-bg-dark);
  opacity: 0.3;
  mix-blend-mode: multiply;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
div.essential_audio > div:nth-child(2) div {
  background-color: var(--col-bg-light);
  opacity: 0.5;
  mix-blend-mode: multiply;
}
div.essential_audio > div:nth-child(3) {
  height: 18px;
  margin-top: -8px;
}
div.essential_audio,
div.essential_audio * {
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-overflow-scrolling: auto;
}
div.essential_audio *:focus {
  outline: none;
}
div.essential_audio > div:nth-child(1) div {
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid var(--col-bg-dark);
  cursor: pointer;
}
div.essential_audio > div:nth-child(1) {
  position: absolute;
  z-index: 3;
  height: 0px;
  top: 0px;
  left: calc(var(--button-protrusion) * -1);
  width: calc(100% + (2 * var(--button-protrusion)));
}
div.essential_audio > div:nth-child(2) {
  position: relative;
  width: 100%;
  overflow: hidden;
}
div.essential_audio > div:nth-child(2) div {
  position: absolute;
  z-index: 1;
  width: 0%;
  height: 100%;
  top: 0px;
  left: 0px;
  transition: width 0.5s;
}
div.essential_audio > div:nth-child(3) {
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 0px;
  left: 0px;
}

/* src/css/main.css */
@font-face {
  font-family: "America";
  src: url("assets/GT America Expanded Bold.ttf") format("truetype");
}
@font-face {
  font-family: "AuthenticSans";
  src: url(assets/AUTHENTICSans-150.otf) format("opentype");
}
@font-face {
  font-family: "Ferrite";
  src: url(assets/FerriteCoreDX-Black.ttf) format("truetype");
}
@font-face {
  font-family: "Aileron";
  src: url(assets/Aileron-Black.otf) format("opentype");
}
@font-face {
  font-family: "FivoSans";
  src: url(assets/FivoSansModern-ExtBlack.otf) format("opentype");
}
@font-face {
  font-family: "HKGrotesk";
  src: url(assets/HankenGrotesk-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "Sono";
  src: url(assets/Sono.ttf) format("truetype");
}
:root {
  --col-bg-light: #f6f6f6;
  --col-bg-mid-1: #ededed;
  --col-bg-mid-2: #c6c6c6;
  --col-bg-dark: #262626;
  --col-theme-1: #ffbc00;
  --col-theme-2: #fc56fc;
  --col-theme-3: rgb(0, 0, 255);
}
body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: var(--col-bg-light);
}
.contents {
  max-width: 1200px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  background-color: var(--col-theme-2);
  color: white;
}
.link {
  font-family: Sono;
  font-weight: 285;
  color: white;
}
.button {
  border: 1px solid var(--col-bg-dark);
  padding: 4px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--col-theme-2);
  color: white;
  font-family: Sono;
  transition: 0.1s ease-in-out;
  text-transform: uppercase;
}
.button.big {
  padding: 8px;
}
.button.invert {
  background-color: white;
  border-color: var(--col-bg-dark);
  color: black;
}
.button:hover {
  cursor: pointer;
  background-color: white;
  border-color: var(--col-bg-dark);
  color: black;
}
.button.big:hover {
  box-shadow: 6px 6px var(--col-theme-2);
  translate: -6px -6px;
}
.button.invert:hover {
  background-color: var(--col-theme-2);
  color: white;
}
